<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>Editing Book</h2>

      <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <p>
    
  <% @book.errors.full_messages.each do |message| %>
  </p>
    <%= message %>
  <% end %>
<% end %>

      <%= form_with model:@book, local:true do |f| %>

      <label for="inputTitle">Title</label>
      <p>
      <%= f.text_field :title, size: 60, autofocus: true, id:"inputTitle" %>
      </p>

      <p>
       <label for="inputBody">Opinion</label>
      </p>

       <p>
         <%= f.text_area :body, size: "60x2.7", autofocus: true, id:"inputBody" %>
      </p>

      <%= f.submit "Update Book", class: "btn btn-sm btn-success" %>
      </p>
      <p>
      <%= link_to 'Show', book_path(@book) %>
      <%= "|" %>
      <%= link_to 'Back', books_path %>
      </p>
<% end %>